.form-container {
  text-align: center;
  overflow: visible;
  align-items: center;
  justify-content: center;
}
.form-container,
.Login-form,
.Signup-form {
  display: flex;
  flex-direction: column;

}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem
}

.link-btn {
  background: none;
  text-decoration: underline
}

nav {
  @apply py-2 px-3
}

button {
  @apply rounded px-4 py-2 font-semibold text-center whitespace-nowrap
}

.btn-primary {
  @apply bg-orange-500 text-white
}

/* .btn-secondary {
  @apply bg-transparent border- text
}
.btn-info {
  @apply text-white bg-transparent border
} */

p {
  color: #8476AA;
}

h1 {
  @apply text-gray-100 font-bold text-4xl leading-6;
}

.card {
  @apply max-w-lg max-h-40 block border-spacing-0 border-gray-900
}

header {
  @apply content-center bg-right-top bg-no-repeat;
}

footer {
  @apply bg-footer grid grid-cols-2;
  padding: 20px;
  text-align: center;
  box-shadow: inset;
}