body {
  background: rgb(25 25 26/1);
  color: slategray;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: transparent;
}

button {
  background-color: #F2994A;
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 4px 10px;
  margin: 3px 8px;
}

h1, h2 {
  color: #333;
}

.main {
  text-align: center;
  padding: 20px 0;
}

.card {
  @apply max-w-lg max-h-40 block border-spacing-0 border-gray-900
}
footer {
  @apply bg-footer grid grid-cols-2;
  padding: 20px;
  text-align: center;
  box-shadow: inset;
}
